.result-container {
  min-height: inherit;
  padding: 1rem;
  border: 1px solid black;
  .result-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    .result-main {
      flex: 3;
      border: 1px black solid;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .result-top {
        display: flex;
        .top-bound {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .top-center {
          flex: 6;
          display: flex;
          align-items: center;
          gap: 1rem;
          margin: 0 1rem;
          hr {
            width: 100%;
          }
        }
      }
      .result-body {
        display: flex;
        justify-content: space-between;
        .result-bound {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          .result-city {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .span-citycode {
              font-size: 2rem;
            }
            .span-city {
              font-size: 1rem;
            }
            .span-airport {
              font-size: 0.75rem;
            }
          }
          .result-time {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .span-time {
              font-size: 1.25rem;
            }
            .span-date {
              font-size: 0.75rem;
            }
          }
          .result-center {
            flex: 1;
          }
          .result-city-inbound,
          .result-time-inbound {
            text-align: end;
          }
        }
      }
    }
    .result-side {
      flex: 1;
      display: flex;
      flex-direction: column;
      .side-flight {
        flex: 1;
        border: 1px solid black;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .flight-logo {
          border: 1px solid black;
          padding: 0.5rem;
          border-radius: 0.5rem;
        }
        .flight-info {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          gap: 0.5rem;
          .flight-title {
            font-size: 0.75rem;
          }
        }
      }
      .side-price {
        flex: 2;
        border: 1px solid black;
        border-left: none;
        border-top: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        .price-value {
          font-size: 2rem;
        }
      }
    }
  }
}
